<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
    <%= f.fields_for :movies do |builder| %>
    <p>
      <%= builder.label :name %><br/> 
      <%= builder.text_field :name %> <a href="" id="query_imdb_name"><%= t :query_imdb %></a><br/>
      <%= builder.label :imdbid %><br/>
      <%= builder.text_field :imdbid %> <a href="" id="query_imdb_id"><%= t :query_imdb %></a>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
