<div class="fields">
<%= f.label :name %><br/> 
<%= f.text_field :name %><br/>
<%= f.label :imdbid %><br/>
<%= f.text_field :imdbid %></br><span><a rel='imdb_query' class="small button nice radius"><%= t :query_imdb %></a> <%= link_to_remove_fields f =%></span>
<div style="clear:both"></div>
</div>
